[Unit]
Description=buttonshutdownd-inv service

[Service]
User=root
Group=root
ExecStart=/usr/bin/buttonshutdownd-inv
Type=forking
PIDFile=/var/run/buttonshutdown-inv.pid
Restart=always

[Install]
WantedBy=multi-user.target
